@model ValueTuple<List<TennisLadder.Models.Participant>, TennisLadder.Models.Participant>

@{
    ViewData["Title"] = "Challenges";
}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Participants" asp-action="Ranks" asp-route-id="@Model.Item2.Id">Ranks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Participants" asp-action="Challenges" asp-route-id="@Model.Item2.Id">Challenges</a>
            </li>
        </ul>
    </div>
</nav>

<h1>Ranks</h1>
<h5>@Html.DisplayFor(model => model.Item2.Name)</h5>


<table class="table">
    <thead>
        <tr>
            <th>
                Challenger
            </th>
            <th></th>
            <th>
                Defender
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Item1)
        {
            @if (item.Availability != 0)
            {

                <tr>
                    <td>
                        <a asp-action="Winner" asp-route-id="@item.Availability" asp-route-id2="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>                      
                    </td>
                    <td>
                        <a asp-action="Tie" asp-route-id="@item.Availability" asp-route-id2="@item.Id">Tie/Cancellation</a>
                    </td>
                    <td>
                        @foreach (var def in Model.Item1)
                        {
                            if (def.Id == item.Availability)
                            {
                                <a asp-action="Winner" asp-route-id="@item.Id" asp-route-id2="@item.Availability">@Html.DisplayFor(modelItem => def.Name)</a>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
