@model ValueTuple<List<TennisLadder.Models.Participant>, TennisLadder.Models.Participant>

@{
    ViewData["Ranks"] = "Ranks";
}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">

    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Participants" asp-action="Ranks" asp-route-id="@Model.Item2.Id">Ranks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Participants" asp-action="Challenges" asp-route-id="@Model.Item2.Id">Challenges</a>
            </li>
        </ul>
    </div>
</nav>


<h1>Ranks</h1> 
<h5>@Html.DisplayFor(model => model.Item2.Name)</h5>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item2.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item2.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item2.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item2.Wins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item2.Loses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item2.MatchPending)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Item1) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchPending)
            </td>
            <td>
                @if (item.Id != Model.Item2.Id) {
                    if (Model.Item2.Rank > item.Rank && item.MatchPending != true && Model.Item2.MatchPending != true) {
                            <a asp-action="Challenge" asp-route-id="@item.Id" asp-route-id2="@Model.Item2.Id">Challenge</a>
                    }
                }
            </td>
        </tr>
        
}
    </tbody>
</table>
